<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="02e4a879-e865-48d4-a94e-9a1c3b4f97ef" name="Test Suite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="02e4a879-e865-48d4-a94e-9a1c3b4f97effileName">Test-Suite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
